<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto text-center">
        <h1 class="text-white font-tertiary mb-4">{{ site.data.settings.hero.hero-title }}</h1>
        <p class="text-white lead font-secondary mb-5 mx-auto" style="max-width: 700px;">{{ site.data.settings.hero.hero-subtitle }}</p>
      </div>
    </div>
  </div>
  <!-- abstract shapes -->
  <div class="shape shape-1"></div>
  <div class="shape shape-2"></div>
  <div class="shape shape-3"></div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->
