{% if site.data.settings.services %}
<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.services-title }}</h2>
      </div>
      {% for service in site.data.settings.services %}
      {% if service.active %}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow service-card">
          <div class="card-body text-center px-4 py-5">
            <div class="service-icon-wrapper mb-4">
              <i class="{{ service.icon }} icon-lg text-primary"></i>
            </div>
            <h4 class="mb-3">{{ service.name }}</h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /services -->
{% endif %}